body{ 
  margin: 0 auto; width: 730px; background-color: #ccc;
  font-family: "Courier New", Courier, monospace; font-size: 15px;
  padding: 10px;
  text-shadow: 0 1px 1px white;
  color: #333;
  margin-top: 20px;
}

a,
a:hover,
a:active,
a:visited {
    color: #03f;
}

#app {
    position: relative;
    width: 730px;
    height: 500px;
}

#toolbar {
  text-align: center;
  margin: -26px 0 0 0;
  position: relative;
  z-index: 1;
  height: 26px;
}

#toolbar span.spacer { margin: 0 5px; float: left; }

#toolbar .button {
    position: relative;
    margin: 2px 5px;
    top: 2px;
    width: 16px;
    height: 16px;
    float: left;
    text-indent: -3000px;
}

#open { background: url('../images/merged.png') -96px 0; }
#save { background: url('../images/merged.png') -80px 0; }
#undo { background: url('../images/merged.png') 0 0; }
#redo { background: url('../images/merged.png') -16px 0; }
#edit { background: url('../images/merged.png') -32px 0; }
#preview { background: url('../images/merged.png') -48px 0; }
#move_front { background: url('../images/merged.png') -208px 0; }
#move_up { background: url('../images/merged.png') -192px 0; }
#move_down { background: url('../images/merged.png') -176px 0; }
#move_back { background: url('../images/merged.png') -160px 0; }
#toggle_solid { background: url('../images/merged.png') -144px 0; }
#toggle_interface { background: url('../images/merged.png') -128px 0; }
#delete { background: url('../images/merged.png') -112px 0; }

#left, #right, #grid, #canvas {
    width: 730px; height: 460px;
    position: absolute; 
}

#left, #right {
	margin: 0;
    padding: 4px;
    background-color: #ddd;
}

.hidden { display: none; }

#right #txt {
    width: 100%; height: 100%; padding: 0; margin: 0; overflow: hidden;
    
    /* otherwise textarea will not inherit and assume defaults */
    border: none; font-size: inherit; background-color: inherit; text-shadow: inherit; color: inherit;
}

#grid, 
#canvas { top: 4px; left: 4px; }

#grid { background-color: transparent; }

#canvas { overflow: hidden; }
#canvas .selected { font-style: normal; color: #03f; }

.bgbox { background-color: transparent; border: 1px solid #ccc; }
.bgbox:hover { background-color: rgba(255,255,255,0.3); }

.preview { background-color: rgba(0, 100, 255, .1); }

.lightfaceContent textarea {
	width: 376px;
	height: 180px;
}

.lightface { text-shadow: none; }

.footer { float: left; }




/* < Dark Styles > */

body.dark {
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
  color: #ddd;
  background-color: #333;
}

body.dark a,
body.dark a:hover,
body.dark a:active,
body.dark a:visited {
    color: #7f99ff;
}

body.dark #toolbar img:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

body.dark #left { 
    background-color: #444;
}

body.dark #right { 
    background-color: #444;
}

body.dark #canvas .selected { color: #7f99ff; }

body.dark .bgbox { border-color: #555; }

body.dark .bgbox:hover { background-color: rgba(0, 0, 0, 0.3); }

body.dark .preview { background-color: rgba(255, 155, 0, .1); }

/* </ Dark Styles > */



span.sp { visibility: hidden; }